<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wsc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gaorui.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getcommodityServlet</display-name>
    <servlet-name>getcommodityServlet</servlet-name>
    <servlet-class>com.gaorui.web.getcommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcommodityServlet</servlet-name>
    <url-pattern>/getcommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeredServlet</display-name>
    <servlet-name>registeredServlet</servlet-name>
    <servlet-class>com.gaorui.web.registeredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeredServlet</servlet-name>
    <url-pattern>/registeredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productdetailsServlet</display-name>
    <servlet-name>productdetailsServlet</servlet-name>
    <servlet-class>com.gaorui.web.productdetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productdetailsServlet</servlet-name>
    <url-pattern>/productdetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shopcarclServlet</display-name>
    <servlet-name>shopcarclServlet</servlet-name>
    <servlet-class>com.gaorui.web.shopcarclServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopcarclServlet</servlet-name>
    <url-pattern>/shopcarclServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showshopcarclServlet</display-name>
    <servlet-name>showshopcarclServlet</servlet-name>
    <servlet-class>com.gaorui.web.showshopcarclServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showshopcarclServlet</servlet-name>
    <url-pattern>/showshopcarclServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertcommodityServlet</display-name>
    <servlet-name>insertcommodityServlet</servlet-name>
    <servlet-class>com.gaorui.web.insertcommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertcommodityServlet</servlet-name>
    <url-pattern>/insertcommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showcommodityServlet</display-name>
    <servlet-name>showcommodityServlet</servlet-name>
    <servlet-class>com.gaorui.web.showcommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showcommodityServlet</servlet-name>
    <url-pattern>/showcommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecommodityServlet</display-name>
    <servlet-name>deletecommodityServlet</servlet-name>
    <servlet-class>com.gaorui.web.deletecommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecommodityServlet</servlet-name>
    <url-pattern>/deletecommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showordercommodityServlet</display-name>
    <servlet-name>showordercommodityServlet</servlet-name>
    <servlet-class>com.gaorui.web.showordercommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showordercommodityServlet</servlet-name>
    <url-pattern>/showordercommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendordercommodityServlet</display-name>
    <servlet-name>sendordercommodityServlet</servlet-name>
    <servlet-class>com.gaorui.web.sendordercommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendordercommodityServlet</servlet-name>
    <url-pattern>/sendordercommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getcommodityServlet1</display-name>
    <servlet-name>getcommodityServlet1</servlet-name>
    <servlet-class>com.gaorui.web.getcommodityServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcommodityServlet1</servlet-name>
    <url-pattern>/getcommodityServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteshopcarcommodity</display-name>
    <servlet-name>deleteshopcarcommodity</servlet-name>
    <servlet-class>com.gaorui.web.deleteshopcarcommodity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteshopcarcommodity</servlet-name>
    <url-pattern>/deleteshopcarcommodity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shopcarinsertadressServlet</display-name>
    <servlet-name>shopcarinsertadressServlet</servlet-name>
    <servlet-class>com.gaorui.web.shopcarinsertadressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopcarinsertadressServlet</servlet-name>
    <url-pattern>/shopcarinsertadressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showuserorderServlet</display-name>
    <servlet-name>showuserorderServlet</servlet-name>
    <servlet-class>com.gaorui.web.showuserorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showuserorderServlet</servlet-name>
    <url-pattern>/showuserorderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checklogisticsServlet</display-name>
    <servlet-name>checklogisticsServlet</servlet-name>
    <servlet-class>com.gaorui.web.checklogisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checklogisticsServlet</servlet-name>
    <url-pattern>/checklogisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginsameclServlet</display-name>
    <servlet-name>LoginsameclServlet</servlet-name>
    <servlet-class>com.gaorui.web.LoginsameclServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginsameclServlet</servlet-name>
    <url-pattern>/LoginsameclServlet</url-pattern>
  </servlet-mapping>
</web-app>